教你一步一步实现图标无缝变形切换
http://www.apkbus.com/blog-847095-76430.html 

 
android一款仿miui小米日历源码
http://www.apkbus.com/thread-585099-1-1.html 

 
android各种各样的跑马灯样式
http://www.apkbus.com/thread-585097-1-1.html 

 
高仿知乎的侧滑删除，附源码
http://www.apkbus.com/blog-865196-76417.html 

渐变颜色渐变文字渐变图像GradualshowcolorAndResourse
http://www.apkbus.com/thread-579134-1-1.html 

根据图片高度动态变化的ViewPager
http://www.apkbus.com/thread-579094-1-1.html 
